/** Basic variables */
:root {
    --content-spacing: 1rem;
    --shadow: hsla(206, 10%, 29%, 25%);
}

/** All colors */
:root {
    /** Grey colors */

    --grey-100-light: hsl(206, 10%, 95%);
    --grey-200-light: hsl(206, 10%, 91%);
    --grey-300-light: hsl(206, 10%, 54%);
    --grey-400-light: hsl(206, 10%, 43%);
    --grey-600-light: hsl(206, 10%, 32%);
    --grey-800-light: hsl(206, 10%, 15%);

    --grey-100-dark: hsl(206, 10%, 14.5%);
    --grey-200-dark: hsl(206, 10%, 19.5%);
    --grey-300-dark: hsl(206, 10%, 44%);
    --grey-400-dark: hsl(206, 10%, 57%);
    --grey-600-dark: hsl(206, 10%, 80%);
    --grey-800-dark: hsl(206, 10%, 90%);

    /** Primary colors */

    --primary-500-light: hsl(206, 90%, 50%);
    --primary-700-light: hsl(206, 90%, 39.7%);

    --primary-500-dark: hsl(206, 100%, 56%);
    --primary-700-dark: hsl(206, 100%, 43%);

    /** Semantic colors */

    --color-link-light: var(--primary-700-light);
    --color-bg-code-light: var(--grey-800-light);

    --color-link-dark: var(--primary-500-dark);
    --color-bg-code-dark: var(--grey-200-dark);
}

/** Light theme */
:root {
    /** Grey colors */
    --grey-100: var(--grey-100-light);
    --grey-200: var(--grey-200-light);
    --grey-300: var(--grey-300-light);
    --grey-400: var(--grey-400-light);
    --grey-600: var(--grey-600-light);
    --grey-800: var(--grey-800-light);

    /** Primary colors */
    --primary-500: var(--primary-500-light);
    --primary-700: var(--primary-700-light);

    /** Semantic colors */
    --color-link: var(--color-link-light);
    --color-bg-code: var(--color-bg-code-light);
}

/** Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        /** Grey colors */
        --grey-100: var(--grey-100-dark);
        --grey-200: var(--grey-200-dark);
        --grey-300: var(--grey-300-dark);
        --grey-400: var(--grey-400-dark);
        --grey-600: var(--grey-600-dark);
        --grey-800: var(--grey-800-dark);

        /** Primary colors */
        --primary-500: var(--primary-500-dark);
        --primary-700: var(--primary-700-dark);

        /** Semantic colors */
        --color-link: var(--color-link-dark);
        --color-bg-code: var(--color-bg-code-dark);
    }
}
